*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100vw;
    height: 100vh;
    background: url(background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;

}
.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;

}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;

}
.content p{
    font-size: 24px;
    margin-bottom: 24px;
}
.content h1{
    font-size: 64px;
    font-weight: 600px;
    margin-bottom: 30px;
}
.content h1 span{
    color: #ff3753;
}
.content button{
    /* background: transparent; */
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top:30px;
    cursor: pointer;
    border-radius: 24px;

}
.content button img{
    width: 15px;
    margin-left: 10px;

}
form {
    display: flex;
    align-items: center;
    width: fit-content;
}

form input {
    border: 2px solid #ccc;
    border-right: none;
    padding: 15px 20px;
    height: 50px; /* Ensure this matches the button height */
    width: 300px;
    font-size: 16px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

form button {
    background: #4CAF50; /* or another background color */
    border: 2px solid #ccc;
    border-left: none;
    outline: none;
    height: 50px; /* Ensure this matches the input height */
    width: 60px;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form button img {
    width: 20px;
    height: auto;
}



.launch-time{
    display: flex;

}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;

}
.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 3s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;


        }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}